@font-face {
	font-family: SourceSansProRegular;
	src: url(../fonts/SourceSansProRegular/SourceSansProRegular.ttf);
}
@font-face {
	font-family: SourceSansProLight;
	src: url(../fonts/SourceSansProLight/SourceSansProLight.ttf);
}
@font-face {
	font-family: SourceSansProBold;
	src: url(../fonts/SourceSansProBold/SourceSansProBold.ttf);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: SourceSansProRegular, sans-serif;
}
ul, li {
	list-style-type: none;
}
a{
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
h2{
	font-size: 1.6875rem;
	font-family: SourceSansProBold, sans-serif;
	text-align: center;
	line-height: 4rem;
}
h3{
	font-size: 1.125rem;
	line-height: 4rem;
	font-family: SourceSansProBold, sans-serif;
}
.menu li{
	display: inline-block;
	margin-right: 12px;
	font-family: SourceSansProBold, sans-serif;
}
.menu li:hover{
	color: #999999;
}
.menu li:last-of-type{
	margin-right: 0;
}
.menu_toggle{
	display: none;
}
.menu_toggle__active{
	display: block;
}
.dis{
	display: none !important;
}
.container{
	width: 97%;
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
header{
	background: url('../images/header-bg.png') no-repeat center;
	height: 1000px;
	padding-top: 50px;
	background-size: cover;
}

.logo{
	font-family: SourceSansProBold, sans-serif;
	font-size: 1.125rem;
	display: inline-block;
	float: left;
}
.logo a{
	text-decoration: none;
	font-family: SourceSansProBold, sans-serif;
	font-size: 1.125rem;
	color: black;
}
nav{
	display: inline-block;
	float: right;
}
.header_toggle{
	float: right;
	display: none;
}
.header_content{
	margin-left: 50%;
	float: right;
	text-align: right;
	padding-top: 370px;
}
h1{
	font-family: SourceSansProBold, sans-serif;
	font-size: 4.5rem;
	color: #212121;
	position: relative;
	margin-bottom: 10px;
	line-height: 7rem;
}
h1::after{
	content: "";
	display: block;
	width: 138px;
	height: 4px;
	background-color: #212121;
	text-align: right;
	position: absolute;
	right: 0;
}
.text{
	font-size: 1.125rem;
	line-height: 2.125rem;
	padding: 25px;
	text-align: center;
}
.header_content p{
	padding-right: 0;
	text-align: right;
}
.button{
	color: #212121;
	font-size: 1.125rem;
	font-weight: bold;
	padding: 10px 85px;
	border: 3px #212121 solid;
	line-height: 6rem;
}
.button:hover{
	color: #999999;
	border: 3px #999999 solid;
}
.intro{
	background-color: white;
	padding: 100px 0;
}
.intro_title::before{
	content: "";
	display: block;
	width: 39px;
	height: 39px;
	background: url('../images/intro-broccoli.png') no-repeat center;
	margin: 0 auto;
}
.intro p{
	padding: 60px;
}
.services{
	background-color: #efefef;
}
.service_feature{
	width: 33%;
	display: inline-block;
	padding: 80px 55px 110px;
}
.service_feature p{
	text-align: left;
	padding: 0;
	line-height: 1.625rem;
}
.service_clock::before{
	content: "";
	display: block;
	width: 37px;
	height: 33px;
	background: url('../images/intro-alarm.png') no-repeat center;
}
.service_chain::before{
	content: "";
	display: block;
	width: 36px;
	height: 31px;
	background: url('../images/intro-chain.png') no-repeat center;
}
.service_track::before{
	content: "";
	display: block;
	width: 47px;
	height: 38px;
	background: url('../images/intro-track.png') no-repeat center;
}
.articles{
	padding: 100px 0;
}
.articles .container{
	overflow: visible;
}
.articles p{
	padding: 10px 140px;
}
.articles_slider_wrapper{
	position: relative;
	margin-top: 90px;
}
.articles_slider_next{
	right: -5%;
}
.articles_slider_prev{
	left: -5%;
	transform: rotate(180deg);
}
.articles_slider li{
	background-color: #222222;
	display: inline-block;
	color: white;
	padding: 55px 55px 55px 35px;
	text-align: left;
	height: 360px;
	position: relative;
}
.articles_filter{
	display: block;
	margin-bottom: 30px;
	font-size: 0.875rem;
}
.articles_text{
	font-size: 1.5rem;
	padding: 0 !important;
}
.articles_info{
	position: absolute;
	bottom: 50px;
}
.articles_info img{
	float: left;
	margin-right: 10px;
}
.articles_author,
.articles_date{
	font-size: 0.875rem;
	font-family: SourceSansProBold, sans-serif;
	text-transform: uppercase;
	vertical-align: sub;
}
.clients{
	background-color: #efefef;
	padding: 65px 0;
}
.clients_slider_item{
	display: inline-block;
	vertical-align: middle;
}
.bx-wrapper{
	box-shadow: none !important;
	border: none !important;
	background: none !important;
	margin: 0 auto !important;
}

.clients_slider_wrapper{
	position: relative;
	padding: 45px 0;
}
.clients_slider_next,
.clients_slider_prev,
.articles_slider_prev,
.articles_slider_next,
.posts_slider_next,
.posts_slider_prev{
	position: absolute;
	top: 50%;
	margin-top: -11px;
}
.clients_slider_next a,
.clients_slider_prev a,
.articles_slider_next a,
.articles_slider_prev a,
.posts_slider_next a,
.posts_slider_prev a{
	background: url('../images/arrow.png') no-repeat center;
	background-size: 100%;
	display: block;
	width: 14px;
	height: 23px;
}
.clients_slider_next{
	right: 5%;
}
.clients_slider_prev{
	left: 5%;
	transform: rotate(180deg);
}
.portfolio{
	background-color: white;
	padding: 100px 0;
}
.portfolio_filters{
	text-align: center;
}
.portfolio_filters::before{
	content: "";
	display: block;
	width: 75px;
	height: 7px;
	background-color: #e64a19;
	margin: 20px auto 0;
}
.portfolio_filters_item{
	display: inline-block;
	margin: 45px 10px;
	cursor: pointer;
}
.quote{
	background-color: #212121;
	color: #eeeeee;
	text-align: center;
	padding: 70px 0;
}
.quote p{
	padding: 15px 190px 25px;
}
.quote span{
	font-style: italic;
}
.team{
	padding: 100px 0;
	background-color: white;
}
.team p{
	padding: 25px 150px 100px;
}
.team_member{
	width: 24%;
	display: inline-block;
	text-align: center;
}
.team_member img{
	display: block;
	margin: 50px auto;
}
.member_name{
	font-family: SourceSansProBold, sans-serif;
	line-height: 3rem;
}
.member_position{
	font-size: 0.9375rem;
}
.facts{
	background: url('../images/facts-bg.png') no-repeat center;
	background-size: cover;
	padding: 100px 0;
}
.facts_title{
	color: #eeeeee;
}
.facts_numbers{
	background-color: rgba(255, 255, 255, 0.34);
	padding: 55px 0 35px;
	width: 75%;
	margin: 60px auto 0;
}
.numbers_item{
	display: inline-block;
	width: 49.5%;
	text-align: center;
	font-size: 1.5rem;
	padding-bottom: 20px;
}
.facts_numbers_after{
	width: 75px;
	height: 7px;
	background-color: #e64a19;
	margin: 0 auto 80px;
}
.num{
	font-family: SourceSansProBold, sans-serif;
	font-size: 1.6875rem;
}
.num::after{
	content: "";
	display: block;
	width: 75px;
	height: 4px;
	background-color: #4d4c4b;
	margin: 0 auto;
}
.facts_numbers span{
	font-size: 1.5rem;
	color: #eeeeee;
	font-stretch: expanded;
	line-height: 3rem;
}
.blog{
	padding: 110px 0 65px;
}
.blog_post{
	width: 100%;
	margin-bottom: 30px;
}
.blog_content{
	width: 49.8%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 60px 30px;
}
.blog_image{
	width: 49.8%;
	display: inline-block;
	overflow: hidden;
}
.blog_date{
	font-size: 0.875rem;
}
.blog_post_title{
	font-size: 1.5rem;
}
.next_posts{
	background-color: #efefef;
	padding: 70px 0;
}
.next_posts .container{
	overflow: visible;
}
.posts_slider_item{
	border-left: 6px #212121 solid;
	padding: 12px 25px;
}
.next_posts_title{
	font-size: 1.125rem;
	font-family: SourceSansProBold, sans-serif;
	padding-bottom: 8px;
}
.next_posts_info{
	font-size: 0.875rem;
}
.posts_slider_next{
	right: -5%;
}
.posts_slider_prev {
	left: -5%;
	transform: rotate(180deg);
}
.tweets{
	padding: 70px 0;
	text-align: center;
}
.tweet{
	padding: 0 140px;
	line-height: 2rem;
	font-size: 1.25rem;
}
.tweet::before{
	content: "";
	display: block;
	height: 150px;
	background: url('../images/tweets-foto1.png') no-repeat center;
	margin: 0 auto;
}
.tweet_link{
	margin: 0 auto;
	font-family: SourceSansProBold, sans-serif;
	font-size: 1rem;
}

footer{
	background-color: #212121;
	color: #999999;
	padding: 50px 0 20px;
}
.form{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.send{
	cursor: pointer;
}
.footer_menu_item{
	width: 16%;
	display: inline-block;
	vertical-align: top;
}
.footer_menu_item_links{
	font-size: 0.875rem;
}
.line{
	height: 1px;
	background-color: #474747;
	width: 100%;
}
.copyright{
	width: 49.5%;
	float: left;
	text-align: left;
	padding: 5px 0 0;
}
.footer_text{
	font-size: 0.875rem;
	padding: 35px 120px 25px 0;
}
.terms{
	width: 49.5%;
	float: right;
	text-align: right;
	padding: 50px 0 0;
}
.terms_ul li{
	display: inline-block;
	font-size: 0.875rem;
	padding-left: 20px;
}
.footer_logo{
	font-family: SourceSansProBold, sans-serif;
	font-size: 1.375rem;
	color: #eeeeee;

}
form{
	padding: 0 120px 10px 0;
}
input, textarea, button{
	border: none;
	background: transparent;
	font-size: 0.875rem;
	color: #999999;
	outline: none;

}
input.email{
	border-bottom: 1px #474747 solid;
	width: 47%;
	float: left;
	margin: 10px 0;
	line-height: 26px;
}
input.subject{
	border-bottom: 1px #474747 solid;
	width: 47%;
	float: right;
	margin: 10px 0;
	line-height: 26px;
}
textarea.message{
	border-bottom: 1px #474747 solid;
	width: 100%;
	resize: vertical;
	margin: 10px 0 60px 0;
	line-height: 9px;
}
.footer_menu_item_links li{
	font-size: 0.875rem;
}
.footer_menu_item_links{
	padding-top: 40px;
}
.footer_menu_item_title{
	font-size: 0.9375rem;
	font-family: SourceSansProBold, sans-serif;
}